################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/External Merge Sort
/.vs
/Lab 1/External Merge Sort/.vs/External Merge Sort
/Lab 1/UnitTest1
/Lab 1/.vs/External Merge Sort
/Lab 1/External Merge Sort/x64/Debug/External.9c53ae62.tlog
/Lab 1/External Merge Sort/x64/Debug
/Lab 1/src/.vs/External Merge Sort
/Lab 1/src
/Lab 1/External Merge Sort/External Merge Sort.vcxproj.filters
/Lab 1/External Merge Sort/External Merge Sort.sln
/Lab 1/External Merge Sort/External Merge Sort.vcxproj
/Lab 1/External Merge Sort/External Merge Sort.vcxproj.user
