################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/External Merge Sort
/.vs
/Lab 1/External Merge Sort/.vs/External Merge Sort
/Lab 1/UnitTest1
/Lab 1/.vs/External Merge Sort
